services:
  mongodb:
    image: mongo:4.4
    restart: unless-stopped
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb


  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - 39082:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongodb:27017/

  backend:
    build: . 
    ports:
      - "8000:8000"
    volumes:
      - .:/app 
    environment:
      - UVICORN_RELOAD=true 
    depends_on:
      - mongodb 

volumes:
  mongo-data:
  mongo-config: